{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Price Tag</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{% static 'app/css/app.css' %}">
    <script src="https://kit.fontawesome.com/8d42187544.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css">
</head>

<body>
<nav class="navbar navbar-expand-md navbar-light nav-color">
    <a class="navbar-brand" href="{% url 'index' %}">Price Tag <i class="fas fa-tags"></i></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber"
            aria-expanded="false"
            aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="Navber">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">管理画面</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:logout' %}">ログアウト</a>
            </li>
        </ul>
    </div>
</nav>
<!-- item追加用　モーダル -->
<div class="container">
    <div class="modal fade" id="createModalLong" tabindex="-1" role="dialog" aria-labelledby="createModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createModalLongTitle">新規追加</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>ゲームを検索</label>

              <!-- 新規モーダル　検索ボタン -->
              <form id="search-title-form" class="form-group" name="search-title-form" action="{% url 'search_title' %}" method="POST">
                {% csrf_token %}
                <div class="input-group mb-3">
                  <input type="text" name="game_title" class="form-control" placeholder="タイトルを入力してください" aria-label="..." aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button type="submit" id="google-search-button" class="btn btn-outline-secondary">検索</button>
                  </div>
                </div>
              </form>

              <!-- 新規モーダル　検索結果 -->
              <div>
                <form id="create-item-form" action="{% url 'create_item' %}" name="create-item-form" method="POST">
                  {% csrf_token %}
                  <div id="ajax-response" class="btn-group-vertical btn-group-toggle btn-block" data-toggle="buttons">
                    <!-- ajax 出力先 -->
                    <p>ここに検索結果が表示されます</p>
                  </div>
                  <button type="submit" id="submit_btn" onclick="submit_btnClick();" style="display: none;"></button>
                  <input type="number" id="radio_num" name="radio_num" style="display: none">
                </form>
              </div>

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">戻る</button>
            <button type="button" id="double_btn" class="btn btn-primary" onclick="double_btnClick();">保存</button>
          </div>
        </div>
      </div>
    </div>
</div>
{% block content %}
{% endblock %}

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"
        charset="UTF-8">></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.ja.min.js"></script>
<script src="{% static "app/js/plugins/responsive-paginate.js" %}"></script>
<script src="{% static "app/js/app.js" %}"></script>

<script>
  // 追加
    $("#search-title-form").submit( function(event) {
        event.preventDefault();
        var form = $(this);
        $.ajax({
          url: form.prop("action"),
          method: form.prop("method"),
          data: form.serialize(),
          timeout: 10000,
          dataType: "text",
        })
        .done( function(data) {
          // alert("done");
          $("#ajax-response").html(data);
        })
        .fail( function() {
          // 通信失敗時の処理を記述
          $('#ajax-response').text('取得失敗');
        });
    });

    function double_btnClick(){
      // alert('double_buttonがクリックされました')
      document.getElementById("submit_btn").click();
    }

    // function submit_btnClick(){
    //   alert('submit_buttonがクリックされました')
    // }

    // function labelClick(){
    //   // 要素が含まれる集合オブジェクト (HTMLCollectionなど)
    //   var elements = document.getElementsByClassName("label_button");

    //   // 番号を知りたい要素
    //   var element = document.getElementById("");

    //   // HTMLCollectionから配列を作成
    //   elements = [].slice.call( elements );

    //   // 要素の順番を取得
    //   var index = elements.indexOf( element ) ; // 2
    //   document.getElementById("radio_num").value = 1;
    // }

    // $(".label_button").hasclass("active").(function() {
    //   console.log('hoge');
    //   var id = $(this).id;
    //   var elements = document.getElementsByClassName("label_button");
    //   var element = document.getElementById($(this).id);
    //   elements = [].slice.call( elements );
    //   var index = elements.indexOf( element ) ;
    //   document.getElementById("radio_num").value = index;

    // });

    function label_buttonClick(id){
      // console.log('hoge');
      // var id = id;
      // var elements = document.getElementsByClassName("label_button");
      // console.log(id)
      // var element = document.getElementById(id);
      // elements = [].slice.call( elements );
      // var index = elements.indexOf( element ) ;
      document.getElementById("radio_num").value = id;
      console.log(id);
    }
</script>

<style>
  .nav-color{background-color:cornflowerblue;}
</style>

</body>

</html>